@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  color: #544837;
  line-height: 26px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.heading-h1,
.heading-h2,
.heading-h3
.heading-h4 {
  color: #2F281E;
}

.heading-h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 30px;
}

.heading-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.heading-h3 {
  font-weight: 700;
  font-size: 20px;
}

.heading-h4 {
  font-weight: 700;
  font-size: 20px;
}

.margin-top {
  margin-top: 100px;
}

.style-txt-section {
  font-weight: 500;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.button-default {
  background-color: #FF9900;
  color: #FFF;
  border-radius: 4px;
  border: transparent;
  border: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  }

.button-default:active {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.button-size-lg {
  padding: 13px 33px;
}

header {
  padding-top: 20px;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none; 
  padding: 0; 
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #2F281E;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.nav-link:hover {
  color: #FF9900;
}

.btn-firstly {
  padding: 13px 25px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #BCD0E5;
  color: #000;
}

.btn-secondary {
  padding: 13px 25px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.content-text {
  width: 500px;
  height: 301px;
  margin-top: 80px;
}

.text-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 20px 0;
}

.section-secondary {
  height: 570px;
  margin-top: 100px;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.h2-weight {
  width: 500px;
}

.margin-center {
  margin: 0 auto;
}

.cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.item-card {
  width: 270px;
}

.item-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.heading-h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

.btn-section-secondary {
  margin-top: 85px;
}

.margin-cnt-txt-frth-top {
  margin-top: 20px;
}

.title-above-h2 {
  margin-bottom: 0;
}

.margin-top-h2 {
  margin: 0 0 20px 0;
}

.sct-third-list {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
}

.heading-h3 {
  margin: 30px 0 10px 0;
}

.list-item-third p {
  margin-top: 0;
}

.sct-frth-list {
  list-style-type: none;
  padding-left: 0;
}

.list-item-fourth {
  margin-top: 30px;
  position: relative;
  padding-left: 55px;
}

.margin-top-cont-fifth-sct {
  margin-top: 40px;
}

.list-item-fourth::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 35px;
  height: 35px; 
  background-color: #FF9900;
  border-radius: 10px;
  border: 1px solid #FF9900; 
}

.list-item-fourth::after {
  content: ""; 
  position: absolute;
  background-image: url('../img/check-mark.svg');
  width: 18px;
  height: 13px;
  top: 15px; 
  left: 10px; 
  opacity: 1; 
}

footer {
  margin: 100px 0 60px 0;
  border-top: 1px solid #BCD0E5;
}

.img-footer {
  margin-bottom: 150px;
}

.list-footer {
  list-style: none;
}

.list-item-footer {
  margin-bottom: 15px;
}

.footer-h4-width {
  width: 280px;
}

.input-tel {
  width: 340px;
  height: 50px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}

.btn-section-footer {
  margin-top: 30px;
}

footer form {
  margin-top: 15px;
}